<div class="container mt-5">
  <h2 class="text-center">Sobre</h2>
  <p class="text-center  mb-3">Nós somos a maior compania de turismo de Indaiatuba. entre em contato conosco e agende já sua viagem para conhecer as melhores praias do Brasil</p>
  <h3 class="text-center mb-3">Destinos</h3>
  <div class="row">
    <div class="col-md-4">
      <app-card
        title="Ilha do Caribe"
        description="Essa ilha é de tirar o fôlego"
        imageUrl="../../../assets/foto1.jpg"
      ></app-card>
    </div>
    <div class="col-md-4">
      <app-card
        title="Ilha misteriosa"
        description="Ja pensou passar suas férias aqui?"
        imageUrl="../../../assets/foto2.jpg"
      ></app-card>
    </div>
    <div class="col-md-4">
      <app-card
        title="Ilha das ilhas"
        description="Nunca vieram aqui"
        imageUrl="../../../assets/foto3.jpg"
      ></app-card>
    </div>
  <p> E muitas outras opções consulte os preços abaixo:</p>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Pacotes</th>
        <th scope="col">Bronze</th>
        <th scope="col">Prata</th>
        <th scope="col">Ouro</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1 pessoa</th>
        <td>1500.00</td>
        <td>2500.00</td>
        <td>3500.00</td>
      </tr>
      <tr>
        <th scope="row">2 pessoas</th>
        <td>1500.00</td>
        <td>2500.00</td>
        <td>3500.00</td>
      </tr>
      <tr>
        <th scope="row">3 pessoas</th>
        <td>1500.00</td>
        <td>2500.00</td>
        <td>3500.00</td>
      </tr>
    </tbody>
  </table>

  <button routerLink="/contact" class="btn btn-primary">Quero agendar minha viagem</button>
